<div class="album py-5 bg-light">
    <div class="container">
        <div class="d-flex justify-content-center mb-5">
            <div class="form-outline">
                <input type="search" id="form-control" class="form-control" placeholder="Search"
                    [(ngModel)]="searchText" aria-label="Search" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" *ngFor="let album of albums | appFilter: searchText">
                <app-song [data]="album"></app-song>
            </div>
        </div>
    </div>
</div>